.swiper-pagination-bullet {
    width: 10px;
    height: 5px;
    background-color: #ccc;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    
    transition:  0.5s;
  }
  .swiper-pagination-bullet-active {
    background-color: #ff9900;
    transform: scaleX(2);
  }

  .swiper  {
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: white;
  }